<% include ./partials/header %>
<h1>Index Page!</h1>

<%books.forEach(function(book){ %>
    <div>
     <h2><%= book.title%></h2>
     <image src="<%= book.image%>">
     <span><%= book.created%></span>
     <p><%= book.body.substring(0,59)%>...</p>
     <p><%= book.author%></p>
     <a href="/books/<%= book._id%>">Read More</a>
   </div>
  <% }) %>
  <% include ./partials/footer %>